.tab-list {
    border-bottom: 1px solid #ccc;
    padding-left: 0;
  }
  
.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
}

.tab-list-active {
  background-color: white;
  border-bottom: solid 2px green;
  color: green;
}

.tabs-title {
  border-bottom: 1px solid grey;
}

.main-page {
  padding: 0 20rem;
}

.tab-content {
  border: 1px solid grey;
  padding: 10px;
}
